In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [106]:
df_num=pd.read_csv('numerical.csv')

In [107]:
df_cat=pd.read_csv('categorical.csv')
targets=pd.read_csv('target.csv')

In [108]:
df_cat.shape

(95412, 22)

In [109]:
df_cat

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3

In [110]:
df_cat_num=df_cat.select_dtypes(include=np.number)
categorical=df_cat.select_dtypes(include=np.object)

In [111]:
categorical

       STATE HOMEOWNR GENDER RFA_2R RFA_2A GEOCODE2 DOMAIN_A
0         IL        H      F      L      E        C        T
1         CA        H      M      L      G        A        S
2         NC        U      M      L      E        C        R
3         CA        U      F      L      E        C        R
4         FL        H      F      L      F        A        S
...      ...      ...    ...    ...    ...      ...      ...
95407  other        H      M      L      G        C        C
95408     TX        H      M      L      F        A        C
95409     MI        H      M      L      E        B        C
95410     CA        H      F      L      F        A        C
95411     NC        U      F      L      G        C        C

[95412 rows x 7 columns]

In [112]:
df_cat_num

,CLUSTER,DATASRCE,DOMAIN_B,ODATEW_YR,ODATEW_MM,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,36,3,2,89,1,37,12,92,8,94,2,95,12,89,11
1,14,3,1,94,1,52,2,93,10,95,12,95,12,93,10
2,43,3,2,90,1,0,2,91,11,92,7,95,12,90,1
3,44,3,2,87,1,28,1,87,11,94,11,95,12,87,2
4,16,3,2,86,1,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,27,3,2,96,1,0,2,96,2,96,2,96,2,96,2
95408,24,3,1,96,1,50,1,96,3,96,3,96,3,96,3
95409,30,3,3,95,1,38,1,96,3,95,1,96,10,94,10
95410,24,2,1,86,1,40,5,90,11,96,8,97,1,86,12
95411,24,3,1,88,1,18,1,88,12,93,12,96,12,88,3

In [113]:
numerical=pd.concat([df_num, df_cat_num], axis=1)

In [114]:
numerical

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,0,60.000000,5,9,0,0,39,34,18,10,...,37,12,92,8,94,2,95,12,89,11
1,1,46.000000,6,9,16,0,15,55,11,6,...,52,2,93,10,95,12,95,12,93,10
2,1,61.611649,3,1,2,0,20,29,33,6,...,0,2,91,11,92,7,95,12,90,1
3,0,70.000000,1,4,2,0,23,14,31,3,...,28,1,87,11,94,11,95,12,87,2
4,0,78.000000,3,2,60,1,28,9,53,26,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0,2,96,2,96,2,96,2,96,2
95408,1,48.000000,7,9,1,0,31,43,19,4,...,50,1,96,3,96,3,96,3,96,3
95409,1,60.000000,5,9,0,0,18,46,20,7,...,38,1,96,3,95,1,96,10,94,10
95410,0,58.000000,7,9,0,0,28,35,20,9,...,40,5,90,11,96,8,97,1,86,12
95411,2,80.000000,5,8,3,1,33,22,27,8,...,18,1,88,12,93,12,96,12,88,3

In [115]:
data = pd.concat([numerical, targets], axis = 1)

In [116]:
data.isna().sum().sum()

0

In [117]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df = scaler.fit_transform(data)

In [118]:
df = pd.DataFrame(df, columns=data.columns)
df

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B,TARGET_D
0,0.000000,0.608247,0.666667,1.000000,0.000000,0.000000,0.393939,0.343434,0.181818,0.101010,...,0.772727,0.636364,0.863636,0.090909,0.0,1.000000,0.927083,0.909091,0.0,0.00
1,0.000014,0.463918,0.833333,1.000000,0.066390,0.000000,0.151515,0.555556,0.111111,0.060606,...,0.818182,0.818182,0.909091,1.000000,0.0,1.000000,0.968750,0.818182,0.0,0.00
2,0.000014,0.624862,0.333333,0.111111,0.008299,0.000000,0.202020,0.292929,0.333333,0.060606,...,0.727273,0.909091,0.772727,0.545455,0.0,1.000000,0.937500,0.000000,0.0,0.00
3,0.000000,0.711340,0.000000,0.444444,0.008299,0.000000,0.232323,0.141414,0.313131,0.030303,...,0.545455,0.909091,0.863636,0.909091,0.0,1.000000,0.906250,0.090909,0.0,0.00
4,0.000000,0.793814,0.333333,0.222222,0.248963,0.010101,0.282828,0.090909,0.535354,0.262626,...,0.818182,0.818182,0.954545,0.000000,0.5,0.000000,0.822917,0.181818,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0.000014,0.624862,0.666667,1.000000,0.000000,0.141414,0.363636,0.474747,0.111111,0.070707,...,0.954545,0.090909,0.954545,0.090909,0.5,0.090909,1.000000,0.090909,0.0,0.00
95408,0.000014,0.484536,1.000000,1.000000,0.004149,0.000000,0.313131,0.434343,0.191919,0.040404,...,0.954545,0.181818,0.954545,0.181818,0.5,0.181818,1.000000,0.181818,0.0,0.00
95409,0.000014,0.608247,0.666667,1.000000,0.000000,0.000000,0.181818,0.464646,0.202020,0.070707,...,0.954545,0.181818,0.909091,0.000000,0.5,0.818182,0.979167,0.818182,0.0,0.00
95410,0.000000,0.587629,1.000000,1.000000,0.000000,0.000000,0.282828,0.353535,0.202020,0.090909,...,0.681818,0.909091,0.954545,0.636364,1.0,0.000000,0.895833,1.000000,1.0,0.09
95411,0.000028,0.814433,0.666667,0.888889,0.012448,0.010101,0.333333,0.222222,0.272727,0.080808,...,0.590909,1.000000,0.818182,1.000000,0.5,1.000000,0.916667,0.181818,0.0,0.00

In [15]:
y = df['TARGET_B']
X = df.drop(['TARGET_B', 'TARGET_D'], axis = 1)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

## Fixing Imbalance

In [17]:
trainset = pd.concat([X_train, y_train], axis=1)

category_0 = trainset[trainset['TARGET_B']==0].sample(len(trainset[trainset['TARGET_B']==1]))
print(category_0.shape)

category_1 = trainset[trainset['TARGET_B']== 1 ]
trainset_new = pd.concat([category_0, category_1], axis = 0)
trainset_new = trainset_new.sample(frac =1) 
X_train = trainset_new.drop(['TARGET_B'], axis=1)
y_train = trainset_new['TARGET_B']

print(X_train.shape)

(3843, 331)
(7686, 330)

In [18]:
y_train.value_counts()

1.0    3843
0.0    3843
Name: TARGET_B, dtype: int64

In [19]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [20]:
# By trial and error, those are the paramethers that yelds the best results

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

clf = RandomForestClassifier(max_depth=6,
                             min_samples_split=20,
                             min_samples_leaf =20,
                             max_samples=0.2,
                             random_state = 42)
clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

y_pred = clf.predict(X_test)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

0.6380431954202446
0.5670492060996699

0.0    18083
1.0     1000
Name: TARGET_B, dtype: int64

array([[10243,  7840],
       [  422,   578]], dtype=int64)

In [ ]:
# For cross validation
from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier(max_depth=5,
                             min_samples_split=20,
                             min_samples_leaf =20)
cross_val_scores = cross_val_score(clf, X_train, y_train, cv=10)
print(np.mean(cross_val_scores))

In [ ]:
cross_val_scores

## Feature Selection

In [21]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

kbest = SelectKBest(chi2, k=30).fit_transform(X, y)

In [22]:
selected = pd.DataFrame(kbest)
selected.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.666667,0.010101,0.079833,0.105833,0.230769,0.153846,0.000000,0.000000,0.020202,0.070707,...,0.127119,0.341463,1.000000,0.622951,0.333333,0.428571,0.0,1.000000,0.0,1.0
1,0.833333,0.000000,0.911333,0.869667,0.923077,0.769231,0.000000,0.000000,0.979798,0.989899,...,0.008475,0.024390,0.333333,0.000000,0.000000,0.785714,0.0,0.090909,0.0,1.0
2,0.333333,0.020202,0.082833,0.091000,0.153846,0.076923,0.000000,0.010101,0.000000,0.010101,...,0.110169,0.341463,1.000000,0.967213,0.333333,0.500000,0.0,0.090909,0.0,1.0
3,0.000000,0.000000,0.166667,0.210500,0.153846,0.076923,0.000000,0.000000,0.101010,0.252525,...,0.063559,0.170732,1.000000,0.655738,0.333333,0.285714,0.0,0.000000,0.0,1.0
4,0.333333,0.989899,0.096000,0.099000,0.307692,0.230769,0.381818,0.585859,0.000000,0.010101,...,0.152542,0.195122,0.333333,0.409836,0.333333,0.214286,0.0,0.000000,0.5,0.0

In [67]:
model = SelectKBest(chi2, k=30).fit(X, y)
df = pd.DataFrame(data = model.scores_, columns = ['score'])
df['Column'] = X.columns
print(df.sort_values(by = ['score'], ascending = False).head(30))

          score       Column
313  210.290810       RFA_2F
326   50.439150  LASTDATE_YR
305   27.516508     CARDGIFT
110   26.474583         HVP1
111   25.757492         HVP2
112   21.545080         HVP3
115   19.261394         HVP6
113   14.874056         HVP4
22    13.034181         ETH2
129   12.581538          RP1
130   11.022637          RP2
318    9.965055    ODATEW_YR
304    8.909015     NGIFTALL
83     8.309269          HV1
84     8.260178          HV2
108    7.470098        ETHC5
107    7.224822        ETHC4
317    7.087851     DOMAIN_B
299    7.083556     CARDPROM
327    6.793793  LASTDATE_MM
300    6.744744      NUMPROM
321    6.371308       DOB_MM
319    6.114012    ODATEW_MM
131    5.622626          RP3
114    5.545304         HVP5
314    4.838850     CLUSTER2
2      3.992481       INCOME
86     3.847846          HV4
85     3.772977          HV3
150    2.894568         IC15

In [68]:
cols = df.sort_values(by = ['score'], ascending = False).head(30)['Column']
cols

313         RFA_2F
326    LASTDATE_YR
305       CARDGIFT
110           HVP1
111           HVP2
112           HVP3
115           HVP6
113           HVP4
22            ETH2
129            RP1
130            RP2
318      ODATEW_YR
304       NGIFTALL
83             HV1
84             HV2
108          ETHC5
107          ETHC4
317       DOMAIN_B
299       CARDPROM
327    LASTDATE_MM
300        NUMPROM
321         DOB_MM
319      ODATEW_MM
131            RP3
114           HVP5
314       CLUSTER2
2           INCOME
86             HV4
85             HV3
150           IC15
Name: Column, dtype: object

In [69]:
selected.columns = cols
selected.head()

Column,RFA_2F,LASTDATE_YR,CARDGIFT,HVP1,HVP2,HVP3,HVP6,HVP4,ETH2,RP1,...,NUMPROM,DOB_MM,ODATEW_MM,RP3,HVP5,CLUSTER2,INCOME,HV4,HV3,IC15
0,0.666667,0.010101,0.079833,0.105833,0.230769,0.153846,0.000000,0.000000,0.020202,0.070707,...,0.127119,0.341463,1.000000,0.622951,0.333333,0.428571,0.0,1.000000,0.0,1.0
1,0.833333,0.000000,0.911333,0.869667,0.923077,0.769231,0.000000,0.000000,0.979798,0.989899,...,0.008475,0.024390,0.333333,0.000000,0.000000,0.785714,0.0,0.090909,0.0,1.0
2,0.333333,0.020202,0.082833,0.091000,0.153846,0.076923,0.000000,0.010101,0.000000,0.010101,...,0.110169,0.341463,1.000000,0.967213,0.333333,0.500000,0.0,0.090909,0.0,1.0
3,0.000000,0.000000,0.166667,0.210500,0.153846,0.076923,0.000000,0.000000,0.101010,0.252525,...,0.063559,0.170732,1.000000,0.655738,0.333333,0.285714,0.0,0.000000,0.0,1.0
4,0.333333,0.989899,0.096000,0.099000,0.307692,0.230769,0.381818,0.585859,0.000000,0.010101,...,0.152542,0.195122,0.333333,0.409836,0.333333,0.214286,0.0,0.000000,0.5,0.0

In [70]:
cols

313         RFA_2F
326    LASTDATE_YR
305       CARDGIFT
110           HVP1
111           HVP2
112           HVP3
115           HVP6
113           HVP4
22            ETH2
129            RP1
130            RP2
318      ODATEW_YR
304       NGIFTALL
83             HV1
84             HV2
108          ETHC5
107          ETHC4
317       DOMAIN_B
299       CARDPROM
327    LASTDATE_MM
300        NUMPROM
321         DOB_MM
319      ODATEW_MM
131            RP3
114           HVP5
314       CLUSTER2
2           INCOME
86             HV4
85             HV3
150           IC15
Name: Column, dtype: object

In [27]:
y_train.value_counts()

1.0    3843
0.0    3843
Name: TARGET_B, dtype: int64

In [28]:
X_train=X_train[cols]
X_test=X_test[cols]

In [29]:
clf = RandomForestClassifier(max_depth=6,
                             min_samples_split=20,
                             min_samples_leaf =20,
                             max_samples=0.2,
                             random_state = 42)
clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

y_pred = clf.predict(X_test)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

0.60967993754879
0.5610753026253734

0.0    18083
1.0     1000
Name: TARGET_B, dtype: int64

array([[10105,  7978],
       [  398,   602]], dtype=int64)

> No much improvement

## RFE

In [33]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

In [34]:
model = LinearRegression()

rfe = RFE(model, n_features_to_select=30)

rfe.fit(X, y)

RFE(estimator=LinearRegression(), n_features_to_select=30)

In [84]:
df2 = pd.DataFrame(data = rfe.ranking_, columns=['Rank'])
df2['Column_name'] = pd.DataFrame(X).columns
df2=df2[df2['Rank']<21].head(50)

In [85]:
df2.Column_name.unique()

array(['POP901', 'POP903', 'POP90C1', 'POP90C2', 'POP90C3', 'ETH1',
       'ETH10', 'AGE905', 'AGE906', 'HHAGE3', 'DW1', 'DW3', 'DW4', 'DW5',
       'HU3', 'HU4', 'HHD1', 'HHD4', 'HHD8', 'HHD9', 'ETHC1', 'ETHC2',
       'RHP1', 'RHP2', 'RHP3', 'RHP4', 'HUPA1', 'HUPA2', 'HUPA3', 'IC11',
       'IC13', 'IC20', 'IC22', 'MC1', 'MC2', 'TPE3', 'TPE4', 'TPE5',
       'TPE6', 'RAMNTALL', 'NGIFTALL', 'CARDGIFT', 'MINRAMNT', 'MAXRAMNT',
       'LASTGIFT', 'TIMELAG', 'ODATEW_MM', 'MINRDATE_YR', 'FIRSTDATE_YR'],
      dtype=object)

In [ ]:
cols2=df2['POP901', 'POP903', 'POP90C1', 'POP90C2', 'POP90C3', 'ETH1',
       'ETH10', 'AGE905', 'AGE906', 'HHAGE3', 'DW1', 'DW3', 'DW4', 'DW5',
       'HU3', 'HU4', 'HHD1', 'HHD4', 'HHD8', 'HHD9', 'ETHC1', 'ETHC2',
       'RHP1', 'RHP2', 'RHP3', 'RHP4', 'HUPA1', 'HUPA2', 'HUPA3', 'IC11',
       'IC13', 'IC20', 'IC22', 'MC1', 'MC2', 'TPE3', 'TPE4', 'TPE5',
       'TPE6', 'RAMNTALL', 'NGIFTALL', 'CARDGIFT', 'MINRAMNT', 'MAXRAMNT',
       'LASTGIFT', 'TIMELAG', 'ODATEW_MM', 'MINRDATE_YR', 'FIRSTDATE_YR']

In [90]:
X_rfe = X.loc[:, cols2]

In [94]:
cols3 = X_rfe.columns.tolist()

In [120]:
y = df['TARGET_B']
X=X_rfe

In [121]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [122]:
trainset = pd.concat([X_train, y_train], axis=1)

category_0 = trainset[trainset['TARGET_B']==0].sample(len(trainset[trainset['TARGET_B']==1]))
print(category_0.shape)

category_1 = trainset[trainset['TARGET_B']== 1 ]
trainset_new = pd.concat([category_0, category_1], axis = 0)
trainset_new = trainset_new.sample(frac =1) 
X_train = trainset_new.drop(['TARGET_B'], axis=1)
y_train = trainset_new['TARGET_B']

print(X_train.shape)

(3843, 50)
(7686, 49)

In [123]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [124]:
clf = RandomForestClassifier(max_depth=6,
                             min_samples_split=20,
                             min_samples_leaf =20,
                             max_samples=0.2,
                             random_state = 42)
clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

y_pred = clf.predict(X_test)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

0.6129326047358834
0.5824555887439082

0.0    18083
1.0     1000
Name: TARGET_B, dtype: int64

array([[10580,  7503],
       [  465,   535]], dtype=int64)

> Same results as others feature selection.

## Variance Threshold

In [125]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
var_threshold = 0.02
sel = VarianceThreshold(threshold=(var_threshold))

In [ ]:
sel = sel.fit(X)
temp = sel.transform(X)
temp = pd.DataFrame(temp)

In [135]:
y = df['TARGET_B']
X = temp

In [136]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [137]:
trainset = pd.concat([X_train, y_train], axis=1)

category_0 = trainset[trainset['TARGET_B']==0].sample(len(trainset[trainset['TARGET_B']==1]))
print(category_0.shape)

category_1 = trainset[trainset['TARGET_B']== 1 ]
trainset_new = pd.concat([category_0, category_1], axis = 0)
trainset_new = trainset_new.sample(frac =1) 
X_train = trainset_new.drop(['TARGET_B'], axis=1)
y_train = trainset_new['TARGET_B']

print(X_train.shape)

(3843, 91)
(7686, 90)

In [138]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [139]:
clf = RandomForestClassifier(max_depth=6,
                             min_samples_split=20,
                             min_samples_leaf =20,
                             max_samples=0.2,
                             random_state = 42)
clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

y_pred = clf.predict(X_test)
display(y_test.value_counts())
display(confusion_matrix(y_test, y_pred))

0.6278948737965131
0.5613373159356495

0.0    18083
1.0     1000
Name: TARGET_B, dtype: int64

array([[10126,  7957],
       [  414,   586]], dtype=int64)

> <b>Conclusion: </b> The model that produced the most numbers of True Positives (the person most likely to donate) was KBest.